PICRUSt2.egg-info/
.cache/
*.pyc
tests/__pycache__/
tutorial_files/tutorial_out/
testing_datasets/
.pytest_cache/
picrust2/default_files/prokaryotic/untracked/
example_files/old/
tests/test_data/pathway_pipeline/per_seq_contrib_input/humann2_run/humann2_raw_output
