# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

# Define a job to be invoked later in a workflow.
jobs:
  build:
    docker:
      - image: continuumio/miniconda3

    steps:

      - checkout

      - run:
          name: install dependencies
          command: |
            conda env create -f picrust2-env.yaml

      - run:
          name: run tests
          command: |
            conda init bash
            conda activate picrust2
            pytest -v
